@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

nav {
    width: 100%;
    position: relative;
    background: linear-gradient(#1B3B6F, #1b5bc3);
    margin: 0!important;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px black;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 24px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}